/* このファイルは UTF-8 で保存すること */

/***************************************
 *
 * 印刷時で使用するスタイル
 *（※基本的に「セレクタ名」は編集しない）
 *
 **************************************/

/***************************************
 * 印刷用CSSの指定
 **************************************/

/* bodyタグの余白を0、背景を白にする */

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

/* コンテナ、コンテンツの余白を0にする */

#container,
#contents {
  margin: 0;
  padding: 0;
}

/* ヘッダー、グローバルナビゲーション、レフトバー、ライトバー、フッターの非表示 */

#header,
ul#grobalnavi,
#leftbar,
#rightbar,
#footer {
  display: none;
}

/* メインの横幅を印刷に合わせる */

#main {
  margin: 0;
  padding: 0;
  width: 100%;
}
